  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <%typeof msg != 'undefined' ? msg :'' %>
    <form class="" action="senddoc/5be904d54d8e324ea33a1410" method="post" enctype="multipart/form-data">

      <input type="file" name="doc" id="doc">
      <input type="submit" name="" value="enviar">

    </form>
    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img"
    <br/><br/>
    <a href="/files">Browse existing files</a>
  </body>
  </html>
