  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>

    <form class="" action="/senddoc/5be4baf8c60eec0f2b96c1d0" method="post">

      <input type="file" name="doc">
      <input type="submit" name="" value="enviar">

    </form>

  </body>
  </html>
